* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #651FFF;
    --white-color: #ffffff;
    --gray-color: #5C5F6E;
    --purple-color: #651FFF;
    --light-blue: #ECECFE;
    --sky-blue: #34D399;
}

section {
    width: 100%;
    padding: 2%;
}

header>.company-header {
    width: 100%;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--white-color);
}

.header-button {
    display: flex;
    gap: 24px;
}

.text-blue {
    color: var(--primary-color);
}

.sign-button,
.create-button,
.start-now-button,
.more-feature-button {
    padding: 9px 23px;
    border-radius: 14px;
}

.sign-button,
.pricing-button,
.more-feature-button {
    background-color: var(--white-color);
}

.create-button,
.get-started-button,
.start-now-button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction {
    flex-direction: column;
}

.align-item-center {
    align-items: center;
}

.get-started-button,
.pricing-button {
    padding: 13px 45px;
    border-radius: 14px;
}

.get-started-button,
.pricing-button,
.sign-button,
.create-button,
.start-now-button,
.more-feature-button {
    font-weight: bold;
    cursor: pointer;
}

.first-section {
    width: 65%;

    /* max-width: calc(100% - 200px); */
    margin: auto;
    text-align: center;
}

.first-section>div {
    gap: 20px;
}

.hero-section {
    padding-top: 95px;
}

.first-section div div h1 {
    font-size: 56px;
    margin-top: 95px;
}

.first-section div div.display-flex {
    gap: 20px;
    margin-bottom: 15px;
}

.first-section div div p {
    font-size: 20px;
    line-height: 35px;
}

.second-section,
.third-section {
    width: 100%;
    margin-top: 50px 0px;
}

.second-section img {
    width: 50%;
}

.cards {
    background-color: var(--purple-color);
    width: 31.3%;
    margin: 0% 1%;
    height: 355px;
    border-radius: 45px;
    padding: 48px 40px;
    color: var(--white-color);
    justify-content: space-between;
}

.third-section-cards {
    width: 88%;
    margin: auto;
}

.cards-link::after {
    content: '';
    background-image: url(../img/arrow-right-long-3.svg);
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    position: relative;
    left: 9px;
    background-size: 16px;
    display: inline-block;
    top: 0px;
}

.cards-link:hover::after {
    left: 15px;
    transition: all 1s;
}

.third-section>div:first-child {
    width: 74%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.third-section>div>div>h2,
.fourth-section>div>div>h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.cards>div:nth-child(2) {
    gap: 14px;
}

.fourth-section {
    width: 88%;
    margin: auto;
    padding: 10px;
}

.file-share-card,
.collect-file-card {
    width: 48%;
    border-radius: 45px;
    padding: 57px 27px 0px 27px;
    justify-content: space-between;
}

.file-share-card,
.collect-file-card {
    margin-right: 2%;
    color: var(--gray-color);
}

.file-share-card h3,
.collect-file-card h3 {
    font-size: 42px;
    color: var(--primary-color);
    margin-bottom: 17px;
}

.file-share-card,
.collect-file-card {
    text-align: center;
}

.collect-file-card {
    margin-left: 2%;
}

.file-share-card {
    background-color: #FFF7ED;
}

.collect-file-card {
    background-color: #E0F7FA;
}

.team-collaboration {
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 45px;
    padding: 40px;
    ;
    margin-top: 32px;
}

.team-collaboration-1 {
    gap: 20px;
    width: 55%;
    padding: 30px;
    justify-content: space-between;
}

.team-collaboration-2 {
    height: 400px;
    margin: auto;
}

.team-collaboration-1 h3 {
    font-size: 44px;
}

.team-collaboration-1 p {
    color: var(--gray-color);
}

.collaboration-buttons {
    justify-content: flex-start;
    gap: 14%;
}

.start-now-button,
.more-feature-button {
    padding: 15px 50px;
}

.privacy-section {
    width: 88%;
    margin: auto;
    padding: 10px;
}

.privacy-section-1 {
    width: 48%;
    margin: 0% 1%;
}

.privacy-section p {
    color: var(--gray-color);
}

.privacy-section-1 div:nth-child(2) div img {
    height: 60px;
    align-self: flex-start;
}

.privacy-section-storage a {
    text-decoration: none;
    color: var(--sky-blue);
    font-weight: bold;
    justify-content: space-between;
}

.privacy-section-storage a:hover::after{
    left: 10px;
    transition: all 2s;
}

.privacy-section-storage a::after {
    content: '';
    background-image: url(../img/arrow-right-long\ 2.svg);
    width: 23px;
    height: 12px;
    background-size: 21px;
    display: inline-flex;
    background-repeat: no-repeat;
    position: relative;
    left: 0px;
}

.privacy-section>div,.privacy-section>div>div,.privacy-section-storage>div,.privacy-section-storage>div>div{
    gap: 25px;
}

.privacy-section-storage{
    margin-top: 20px;
}